{% extends '_base.html' %}
{% set title = 'Note: %s' % note.title or note.id %}

{% block content %}
    <article class="note">
        <pre class="note__body">{{- note.body -}}</pre>
        <div class="actions note__actions">
            <form action="{{ '/note/%s/delete' % note.id }}"
                  method="post"
                  class="actions__item"
            >
                <button class="button button--red"><svg class="icon"><use xlink:href="/static/icons.svg#icon-delete"></use></svg> Delete</button>
            </form>
            <a href="{{ '/note/%s/edit' % note.id }}"
               class="actions__item button"
            ><svg class="icon"><use xlink:href="/static/icons.svg#icon-edit"></use></svg> Edit</a>
        </div>
    </article>
{% endblock %}