{% extends '_base.html' %}
{% set title = 'Note: %s' % note.title or note.id %}

{% block content %}
    <article class="layout">
        {% if note.title %}
            <h1 class="layout__title">{{- note.title -}}</h1>
        {% endif %}
        <pre class="layout__body">{{- note.body -}}</pre>
        <div class="actions layout__actions">
            <form action="{{ '/note/%s/delete' % note.id }}"
                  method="post"
                  class="actions__item"
            >
                <button class="button button--red">Delete</button>
            </form>
            <a href="{{ '/note/%s/edit' % note.id }}"
               class="actions__item button"
            >Edit</a>
        </div>
    </article>
{% endblock %}