{% set action_url = '/note/%s' % note.id if note else '/note' %}
<form action="{{ action_url }}" method="post" class="note">
    <textarea
            name="body"
            class="note__body"
            rows="10"
            placeholder="Note"
            autofocus
            data-field-body
    >{{- note.body if note else '' -}}</textarea>
    <div class="note__options">
    </div>
    <div class="note__actions">
        <button class="button" data-save><svg class="icon"><use xlink:href="/static/icons.svg#icon-save"></use></svg> Save</button>
    </div>
</form>